<ion-header class ="ion-no-border">
  <ion-toolbar >
    <ion-title class="ion-text-center">
      <ion-text class="letra">Sembradios SJ ❦</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

  </ion-card>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" >
    
    <ion-tab-button  routerLink="/terreno1">
      <ion-icon name="nutrition-outline" color = "danger"></ion-icon>
      <ion-label>Terreno 1</ion-label>
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="nuclear-outline" class ="color" routerLink="/terreno2"></ion-icon>
      <ion-label>Terreno 2</ion-label>
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="map-outline" color = "primary" routerLink="/informacion"></ion-icon>
      <ion-label>Cómo llegar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>